.history-container {
  display: flex;
  background-image: url('huang2.png'); /* 添加背景图 */
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #fff; /* 设置字体颜色为白色 */
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7); /* 添加半透明背景 */
}

.search-bar {
  padding: 20px;
  background: rgba(0, 0, 0, 0.8); /* 添加深色背景 */
}

.search-bar input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
}

.content-columns {
  display: flex;
  flex-grow: 1;
  padding: 20px;
}

.character-selection {
  flex: 0.8; /* 不固定宽度，自动调整 */
  padding: 20px;
  background: rgba(0, 0, 0, 0.5); /* 添加半透明背景 */
  border-radius: 5px;
  overflow-y: auto; /* 添加滚动条 */
}

.character-card {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  background: rgba(255, 255, 255, 0.1); /* 添加半透明背景 */
}

.character-card:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.character-card.selected {
  background-color: rgba(255, 255, 255, 0.3);
}

.selected-character {
  flex: 4; /* 占据更多空间 */
  padding: 20px;
  background: rgba(0, 0, 0, 0.6); /* 添加背景 */
  border-radius: 5px;
  overflow-y: auto; /* 添加滚动条 */
}

.timeline-container {
  margin-top: 20px;
}

.timeline {
  position: relative;
  padding-left: 5vb;
}

.vertical-line {
  position: absolute;
  left: 5vb;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #00f; /* 蓝色竖线 */
}

.timeline-event {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.timeline-icon {
  margin-right: 5px;
  color: #00f; /* 蓝色图标 */
}

.timeline-date {
  font-weight: bold;
  margin-right: 10px;
  font-family: 'Courier New', Courier, monospace; /* 更改字体 */
  font-size: 0.8em; /* 调整字体大小 */
}

.timeline-content {
  background-color: rgba(0, 0, 0, 0.8); /* 半透明背景 */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.5); /* 蓝色阴影 */
  color: #fff; /* 白色字体 */
}

